@charset "UTF8";

body{
    background-color: lightblue;
}

header{
    background-image: linear-gradient(to bottom, rgb(5, 21, 247), rgb(97, 40, 219));
    height: 100px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: -2.1em;

}

header > h1{
    text-align: center;
    color: white;
    font-size: 3em;
    margin-bottom: -20px;
}

header > p{
    color: white;
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 0px;
}

nav{
    background-color: blue;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin: 1em;
    max-height: 2.7em;
    padding: 10px;
    text-align: center;
}


nav > a{
    color: aliceblue;
    font-size: 19.5px;
    margin-right: 5px;
    text-decoration: none;
    border-radius: 0px;
}

.home:hover{
    color: black;
    background-color: red;
    text-align: center;
    padding: 5px;
    border-bottom-left-radius: 10px;
}

.dica:hover{
    color: black;
    background-color: red;
    padding: 5px;
}

.contato:hover{
    color: black;
    background-color: red;
    padding: 5px;
    border-bottom-right-radius: 10px;
}